Projeto IHM STM32CubeMonitor.json
[
    {
        "id": "e1044fd6c1659417",
        "type": "tab",
        "label": "Softstarter",
        "disabled": false,
        "info": "# SoftStarter",
        "env": []
    },
    {
        "id": "8bfcf69534e03308",
        "type": "ui_slider",
        "z": "e1044fd6c1659417",
        "name": "",
        "label": "Rampa de Subida:",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "9a7a335e082dd37d"
            ]
        ]
    },
    {
        "id": "4c8f76454abf4150",
        "type": "ui_slider",
        "z": "e1044fd6c1659417",
        "name": "",
        "label": "Rampa de Descida:",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "db36e941dff46c7a"
            ]
        ]
    },
    {
        "id": "f604abcc3800b411",
        "type": "ui_button",
        "z": "e1044fd6c1659417",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Desliga o motor",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-arrow_downward",
        "payload": "DESL",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "5b4c3c4d2b90ee0a"
            ]
        ]
    },
    {
        "id": "1f9afe3b6aacf042",
        "type": "ui_button",
        "z": "e1044fd6c1659417",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "Liga o motor",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-arrow_upward",
        "payload": "LIGA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "5b4c3c4d2b90ee0a"
            ]
        ]
    },
    {
        "id": "db36e941dff46c7a",
        "type": "switch",
        "z": "e1044fd6c1659417",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "05cc0d848d337642"
            ],
            [
                "7c9e386a2b4ecb24"
            ]
        ]
    },
    {
        "id": "7c9e386a2b4ecb24",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "d0{{payload}}0",
        "output": "str",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "0db1fa1420b7ba95"
            ]
        ]
    },
    {
        "id": "05cc0d848d337642",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "d{{payload}}0",
        "output": "str",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "0db1fa1420b7ba95"
            ]
        ]
    },
    {
        "id": "9a7a335e082dd37d",
        "type": "switch",
        "z": "e1044fd6c1659417",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "39a485ab4ba7aed0"
            ],
            [
                "69dfc86ef7ef5956"
            ]
        ]
    },
    {
        "id": "69dfc86ef7ef5956",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "l0{{payload}}0",
        "output": "str",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "0db1fa1420b7ba95"
            ]
        ]
    },
    {
        "id": "39a485ab4ba7aed0",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "l{{payload}}0",
        "output": "str",
        "x": 680,
        "y": 80,
        "wires": [
            [
                "0db1fa1420b7ba95"
            ]
        ]
    },
    {
        "id": "3105b23644701f6f",
        "type": "ui_button",
        "z": "e1044fd6c1659417",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "EMERGÊNCIA",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-cancel",
        "payload": "EMER",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "5b4c3c4d2b90ee0a"
            ]
        ]
    },
    {
        "id": "0db1fa1420b7ba95",
        "type": "serial out",
        "z": "e1044fd6c1659417",
        "name": "",
        "serial": "325abcc457e7a0dc",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "5b4c3c4d2b90ee0a",
        "type": "serial out",
        "z": "e1044fd6c1659417",
        "name": "",
        "serial": "325abcc457e7a0dc",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "0fb3e28d0a753aaf",
        "type": "serial in",
        "z": "e1044fd6c1659417",
        "name": "",
        "serial": "325abcc457e7a0dc",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "8ec2f47e45ddb484"
            ]
        ]
    },
    {
        "id": "8ec2f47e45ddb484",
        "type": "switch",
        "z": "e1044fd6c1659417",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDD",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mA",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "180",
                "v2t": "num"
            },
            {
                "t": "cont",
                "v": "SCR",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CDG",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "21b1358173ab9699"
            ],
            [
                "f32cd6057cbbee8f"
            ],
            [
                "585db068cad87860"
            ],
            [
                "a1673e1c88782928"
            ],
            [
                "7cb13d32c5a7496a"
            ],
            [
                "86d72954602bf3dc"
            ],
            [
                "b219393408821766"
            ],
            [
                "6d5393ecc53d89a3"
            ]
        ]
    },
    {
        "id": "6c10409efcac63cc",
        "type": "ui_text",
        "z": "e1044fd6c1659417",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Estado do Motor: ",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "21b1358173ab9699",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "desligado",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Desligado",
        "output": "str",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "6c10409efcac63cc"
            ]
        ]
    },
    {
        "id": "f32cd6057cbbee8f",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "ligado",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Na rede",
        "output": "str",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "6c10409efcac63cc"
            ]
        ]
    },
    {
        "id": "585db068cad87860",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "subida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Acelerando",
        "output": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "6c10409efcac63cc"
            ]
        ]
    },
    {
        "id": "a1673e1c88782928",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "descida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Desacelerando",
        "output": "str",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "6c10409efcac63cc"
            ]
        ]
    },
    {
        "id": "7cb13d32c5a7496a",
        "type": "ui_text",
        "z": "e1044fd6c1659417",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Corrente:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "86d72954602bf3dc",
        "type": "ui_gauge",
        "z": "e1044fd6c1659417",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 15,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "",
        "label": "Graus",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "45c4623b2b0d5873",
        "type": "ui_slider",
        "z": "e1044fd6c1659417",
        "name": "",
        "label": "Corrente de desligamento: %",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 33,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "150",
        "max": "200",
        "step": 1,
        "className": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "61aa27f62c26ac99"
            ]
        ],
        "info": "bobão"
    },
    {
        "id": "05914d21e4c7698a",
        "type": "ui_slider",
        "z": "e1044fd6c1659417",
        "name": "",
        "label": "Sobrecorrente Limite: %",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 31,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "100",
        "max": "150",
        "step": 1,
        "className": "",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "c6e7258cbd3d7afa"
            ]
        ]
    },
    {
        "id": "c6e7258cbd3d7afa",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "s{{payload}}",
        "output": "str",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "f67ebd12a356d77b"
            ]
        ]
    },
    {
        "id": "61aa27f62c26ac99",
        "type": "template",
        "z": "e1044fd6c1659417",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "c{{payload}}",
        "output": "str",
        "x": 420,
        "y": 580,
        "wires": [
            [
                "f67ebd12a356d77b"
            ]
        ]
    },
    {
        "id": "f67ebd12a356d77b",
        "type": "serial out",
        "z": "e1044fd6c1659417",
        "name": "",
        "serial": "325abcc457e7a0dc",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "e77d3eb9a172cce9",
        "type": "ui_toast",
        "z": "e1044fd6c1659417",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b219393408821766",
        "type": "change",
        "z": "e1044fd6c1659417",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sobrecorrente Limite",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "f767835f8ece5004"
            ]
        ]
    },
    {
        "id": "c88933047193f4d2",
        "type": "ui_toast",
        "z": "e1044fd6c1659417",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5393ecc53d89a3",
        "type": "change",
        "z": "e1044fd6c1659417",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Corrente de Desligamento",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 540,
        "wires": [
            [
                "4e6968f3d1f314ea"
            ]
        ]
    },
    {
        "id": "4e6968f3d1f314ea",
        "type": "delay",
        "z": "e1044fd6c1659417",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1.5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "c88933047193f4d2"
            ]
        ]
    },
    {
        "id": "f767835f8ece5004",
        "type": "delay",
        "z": "e1044fd6c1659417",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1.5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 500,
        "wires": [
            [
                "e77d3eb9a172cce9"
            ]
        ]
    },
    {
        "id": "75c122e6524da316",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d2c6da6b5bc12f1",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e356bb9593804f98",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "f85cecd087347d1a",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "d4cc37a392754f9d",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "942fa517369f2c16",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6cb8c828ea1ea5b",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "ee1335609405f0bf",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "25f03c016374537e",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "6f8adb52019204f9",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "fa9759363529bd5a",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "f3e61b3de565b049",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 20,
        "width": 4,
        "height": 1
    },
    {
        "id": "94bee7071e494956",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "883bb3f20c4710f3",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 22,
        "width": 4,
        "height": 1
    },
    {
        "id": "5ee25457e0b9a409",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "548f5e52e4bea431",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "37788e04e7396f56",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "26f9c3df8168e8c8",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 26,
        "width": 4,
        "height": 1
    },
    {
        "id": "5277d359ffa18a64",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 27,
        "width": 3,
        "height": 1
    },
    {
        "id": "f4d422d0c0a42566",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "d44842755b97a4d7",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "050d16d93c7d72aa",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "733c762c02e35b02",
        "type": "ui_spacer",
        "z": "e1044fd6c1659417",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Configuração",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "325abcc457e7a0dc",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "100"
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]